.div {
  background-color: rgb(148, 185, 254);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #070707;
  margin-bottom: 10px;
  height: 45px;
  border-radius: 12px; /* Закругленные углы */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 6px 8px rgba(0, 0, 0, 0.1); /* Эффектная тень */
  margin: 20px; /* Внешний отступ */
  transition: box-shadow 0.3s ease; /* Анимация при наведении */
}
.div:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3), 0 8px 10px rgba(0, 0, 0, 0.15); /* Более яркая тень при наведении */
}
.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  font-size: 18px;
}

.btn_delete {
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.btn_delete:hover {
  background-color: #c0392b;
}

svg {
  /* Стиль для иконки */
  margin-right: 8px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
